%header.page-header
  %h1 475 Advanced Topics in Software Engineering
%section
  %p
    This course is about working on large, existing, software systems. It focuses
    on tools, techniques, practices and principles that software engineers use on
    a daily basis to successfully build, modify, maintain and grow the large
    software systems that form so much of the infrastructure of trade, commerce,
    communication and entertainment in the modern world.
  %p
    The course is taught be three visiting lecturers who spend most of their time
    working in industry. With differing backgrounds, experiences and opinions, we
    have worked in companies small and large, on product development and bespoke
    systems, on projects that have gone well, and some that have gone very badly.
    We have also developed and contributed to various popular open source tools
    and projects.
  %p
    This website provides additional course resources such as couse
    %a(href = "#{url '/notes'}") notes
    obtained from Twitter, written by course students, and course
    %a(href = "#{url '/diary'}") diary
    form to ease the making of weekly writeups.
%footer
  %p
    %span.label.notice Important
    %small
      This website is open-source, fork it on
      %a(href = 'https://github.com/petrh/softeng') GitHub
      and send us your improvements
