!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title Course Diary
    %link{:rel => 'stylesheet', :href => '/bootstrap.css'}
    %link{:rel => 'stylesheet', :href => '/style.css'}
    %script{:src => '/jquery.js'}
    %script{:src => '/jquery.validate.js'}
    %script{:src => '/script.js'}
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body
    %header.topbar
      .fill
        .container
          %a(class = 'brand' href = "#{url '/'}") Software Engineering
          %ul.nav
            %li
              %a(href = "#{url '/notes'}") Notes
            %li
              %a(href = "#{url '/diary'}") Diary
    %article.container
      %div.content
        = yield
      %footer
        %p
          %small &copy; Department of Computing, Imperial College London 2011
